<!DOCTYPE html>
<html>
<head>
    <title>Staff Dashboard</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h2>Staff Dashboard</h2>
    <nav>
        <a href="/staff/view_flights">View Flights</a> |
        <a href="/staff/create_flight">Create Flight</a> |
        <a href="/staff/change_status">Change Flight Status</a> |
        <a href="/staff/add_airplane">Add Airplane</a> |
        <a href="/staff/view_flight_ratings">View Flight Ratings</a> |
        <a href="/staff/view_reports">View Reports</a> |
        <a href="/logout">Logout</a>
    </nav>
</body>
</html>